@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
    /* Smooths scrolling to elements within the same page when you click an anchor link. seems to have no effect on normal scrolling */
    /* From: https://stackoverflow.com/questions/24739126/scroll-to-a-specific-element-using-html/24739518 */
    scroll-behavior: smooth;
}

body {
    /* BACKGROUND IMAGE */
    background-image: url('/static/images/bg_worms_lowres.png');
    background-position: center;
    background-size: 150%;

    /* FONT */
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 2.2vh;

    /* CURSOR */
    cursor: url('/static/cursors/cursor.png'), auto;
    /* cursor: url('/static/cursors/maxxer_cursor.png'), auto; */
}

h1 {
    font-size: 6vh;
    text-align: center;
    color: white;

    /* consistent h1 style from other webpages */
    text-decoration: underline aquamarine;
    text-transform: lowercase;
    letter-spacing: 2px;
}

hr {
    /* margin: 0 20%; */
    border: 3px white solid;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: inherit;

    cursor: url('/static/cursors/pointer.png'), pointer;
}


.page-layout {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    place-items: center;
}

.table-container {
    /* CENTERING THE TABLE */
    display: grid;
    place-items: center;
}

/* MAIN TABLE */
.blockchain-table {
    /* Border */
    border-collapse: collapse;
    /* only the top-left and top-right have a round border */
    border-radius: 15px 15px 0 0;
    /* hides the background that goes beyond the border radius to make the radius actually do something */
    overflow: hidden;

    /* Margin */
    margin: 4vmin 0;

    width: 50vw;
    /* min-width: 350px; */

    /* Shadow */
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);

    /* COLOURS */
    background: #ffffff25;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
}

/* TABLE HEADERS */
.blockchain-table th {
    background: #f15050;
    color: white;
    
    text-align: left;
    /* font-size: 1.5rem; */
    font-size: 2.5vmin;
    font-weight: bold;
}

/* TABLE HEADERS !!AND!! TABLE DATA */
.blockchain-table th, .blockchain-table td {
    padding: 5px 15px;
}

/* TABLE ROWS */
.blockchain-table tr {
    border-bottom: 2px solid #ee333325;
    /* font-weight: 500; */
}

/* ONLY EVEN TABLE ROWS - WOW! */
.blockchain-table tr:nth-of-type(even) {
    background: #f150501f;
}
/* THE LAST ROW */
.blockchain-table tr:last-of-type {
    border-bottom: 10px solid #f15050;
}

.blockchain-table tr:hover {
    color: white;
    background: #f1505079;
}


/* BUTTONS */
.buttons-container {
    display: grid;
    place-items: center;

    margin-bottom: 4%;
}


.button {
    /* FONT */
    font-family: 'Quicksand', sans-serif;
    font-size: 2vh;
    color: #f15050;

    background: whitesmoke;
    border: none;
    border-radius: 5px;

    /* padding: 4px 10px; */
    padding: 4px 15px 10px 15px;
    margin: 0 10px;

    /* Shadow */
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);

    cursor: pointer;

    filter: opacity(0.8);
    transition: all 200ms;
}

.selected {
    font-weight: 700;
    color: #f15050;
    filter: opacity(1);

}

.button-disabled {
    filter: opacity(0.5);
    cursor: not-allowed;
}

.button:hover {
    transform: scale(1.3);
    cursor: url('/static/cursors/pointer.png'), pointer;
}

.page-number {
    display: inline-block;

    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}


/* STATISTIC CARDS */
.currency-stats {
    /* GRID LAYOUT */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
}
.stat-panel {
    /* CURSOR */
    cursor: url('/static/cursors/pointer.png'), pointer;

    /* ANIMATIONS */
    transition: all 200ms;
}
.stat-card {
    /* GRID */
    display: grid;
    place-items: center;

    /* COLOUR & DESIGN*/
    background-color: #E52B50;
    border-bottom: white 8px solid;
    border-radius: 15px 15px 0px 0px;

    /* SHADOW */
    box-shadow: 0px 10px 40px black;
}
.stat-card h2 {
    /* Text */
    font-size: 2vh;
    font-weight: normal;
    text-align: left;

    color: white;

    /* Margin */
    margin: 2% 10%;
}


/* GRAPHS */
.graph-container {
    /* COLOUR & DESIGN*/
    background: rgba(0, 0, 0, 0.7);
    border-bottom: #E52B50 8px solid;
    border-radius: 0px 0px 15px 15px;

    /* GRID */
    display: grid;
    place-items: center;
}
.graph {
    max-height: 35vh;
}


/* FIXED POSITION LOGO */
.logo {
    position: fixed;
    top: 2vmin;
    left: 2vmin;

    height: 8vh;

    filter: drop-shadow(0px 10px 30px black);
}


/* BACKGROUND COLOURS */
.blue {
    background-color: #63a6db;
}
.purple {
    background-color: #c4178a;
}
.yellow {
    background-color: #ffcd36;
}
.green {
    background-color: #5dc2a5;
}


/* HOVER ANIMATIONS */
.stat-panel:hover {
    transform: scale(102.5%) translateY(-10px);
}


/* ANCHOR LINK BUTTONS */
.anchor-buttons {
    position: fixed;
    top: 2vmin;
    right: 2vmin;
}
.anchor-buttons img {
    display: block;
    margin-bottom: 1rem;

    /* background: #894ad1e0; */
    /* border: #894ad1e0 5px solid; */

    /* background: linear-gradient(to bottom right, #894ad1c2, #541e92e0);; */
    padding: 5px;

    border-radius: 10px;
}
.pixel-art {
    image-rendering: pixelated;                     /* pixel-perfect nearest neighbour scaling */
    image-rendering: optimizeSpeed;                 /* same as above, but for firefox */
}


/* ACHIEVEMENTS - must override original values or else doesn't work 100% */
.achievement {
    background: rgba(218, 165, 32, 0.7) !important;
    background: linear-gradient(to bottom right, #ffc40098, #daa520b3) !important;
    color: white !important;
    position: relative !important;
}
.achievement::after {
    /* the text content to display */
    /* content: "🏆 Achievement! 🎇 The 1000th Currency Thing! 🥳🎉"; */
    content: attr(data-achievement);
    /* goes to a new block instead of being in the same line */
    display: block;
    /* lets us freely position the box anywhere */
    position: absolute;

    /* DESIGN */
    background-color: rgba(255, 255, 255, 0.7);
    background-image: url('/static/images/bg_worms_lowres.png');
    background-size: 250%;
    padding: 1em;
    color: white;
    border-radius: 20px 20px 0px 0px;
    
    /* POSITION */
    left: 0;
    right: 0;
    /* bottom: 100%; */
    bottom: 0;

    /* ANIMATION */
    transform: scale(1, 0);
    transition: transform ease-out 150ms, bottom ease-out 150ms;
}
.achievement:hover::after {
    transform: scale(1, 1);
    bottom: 100%;
}



/* MEDIA QUERIES */
@media screen and (max-width: 900px) {

    /* Currency Thing Logo needs to disappear */
    .logo {
        visibility: hidden;
    }

    /* The left/right margins in the lage layout need to be gone */
    .page-layout {
        display: grid;
        grid-template-columns: 0% 1fr 0%;
        place-items: center;
    }

    /* The stat panels need to be stacked one per row */
    .currency-stats {
        /* GRID LAYOUT */
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        margin: 0 50px;
    }

    /* Changing the font size of the table text */
    .blockchain-table th {
        font-size: 1.25vh;
        text-align: center;
    }
    .blockchain-table tr {
        font-size: 1vh;
    }

    /* .blockchain-table img {
        height: 1px;
    } */

    /* ANCHOR LINK BUTTONS */
    .pixel-art {
        visibility: hidden;
    }

    .buttons-container {
        margin-bottom: 25px;
    }
}