h1 {
    font-size: 4vmin;
    text-align: left;
    margin-top: 0;

    display: inline-block;
}

h2 {
    /* Text */
    font-size: 2vmin;
    font-weight: normal;
    text-align: left;

    color: white;

    /* Margin */
    margin: 0;
    margin-bottom: 5%;
}

/* The Main container of the User Profile */
.user-profile {
    /* MARGIN */
    margin: 0% 20%;
    margin-top: 3%;

    /* SIZE */
    /* height: 30vh; */
    min-height: 30vh;
    height: fit-content;

    /* GRID LAYOUT */
    display: grid;
    grid-template-columns: 25% 1fr;

    /* COLOUR & DESIGN*/
    background-color: #E52B50;
    border-bottom: white 8px solid;
    border-radius: 15px 15px 0px 0px;
}

/* Profile picture container */
.avatar-container {
    display: grid;
    place-items: center;
}
/* The actual profile picture */
.avatar {
    border-radius: 100%;
    /* height: 80%; */
    height: 20vmin;
    max-height: 250px;

    filter: drop-shadow(0px 10px 30px black);
}

/* Container for all the text elements */
.user-info {
    margin-top: 2%;
}
/* The top line that has the user's name and current balance */
.user-info .top-line {
    margin-bottom: 0;
}
/* The text displaying the current balance */
.user-info .balance {
    display: inline-block;
    text-align: right;
    margin-bottom: 0;
    color: #5cfaff;
}
/* The user's statistics box */
.user-info .stats {
    /* GRID LAYOUT */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
}


/* STATISTIC CARDS */
.currency-stats {
    /* l don't know why l have to specify this here and not in the main page */
    width: 100%;
}





.shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}


/* MEDIA QUERIES */
@media screen and (max-width: 900px) {

    /* No bottom margin because balance needs to break into the next line */
    h1 {
        margin-bottom: 0;
    }

    /* No margin and bigger font size */
    h2 {
        margin-bottom: 0;
        font-size: 1.25vh;
    }

    /* Smaller Margins, more space for the avatar */
    .user-profile {
        margin: 4% 4%;
        grid-template-columns: 35% 1fr;
    }

    /* Smaller avatar */
    .avatar {
        height: 20vmin;
    }

    /* Displaying one stat per line left-aligned*/
    .user-info .stats {
        grid-template-columns: 1fr;
        place-items: start;
        margin-left: 0%;
    }

    /* Margin on the sides so that they're not right at the edge */
    .stat-panel {
        margin: 0 50px;
    }

    /* More spacing before and after the graphs */
    .currency-stats {
        margin: 50px 0px;
    }

    /* Balance breaks into the next line left-aligned, needs good spacing */
    .user-info .balance {
        display: block;
        font-size: 1.5vh;
        text-align: left;
        margin-top: 0;
        margin-bottom: 20px;
    }
}