<!-- https://stackoverflow.com/questions/48552343/how-can-i-execute-a-python-script-from-an-html-button/48552490 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaskstyle.css') }}">

    <!-- Tab Icon : https://realfavicongenerator.net/ -->
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="icon" type="image/png" href="/static/favicon.png">

    <!-- jQuery for clicking stuff -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- ChartJS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>

    <!-- Tab Title -->
    <title>Currency Thing Blockchain Explorer</title>
</head>

<body class="page-layout">
    <section title="left-margin"></section>

    <!-- MAIN SECTION -->
    <section>
        <div id="top"></div>
        <img src="/static/images/avatars/840976021687762955.png" class="logo" title="what is this, some kinda currency thing?">
        <h1>currency thing blockchain explorer</h1>

        <!-- TIME FILTER BUTTONS -->
        <div class="buttons-container">
            <div class="buttons">
                <button class="button selected" id='daily'  >1D</button>
                <button class="button"          id='weekly' >7D</button>
                <button class="button"          id="monthly">31D</button>
                <button class="button"          id='all'    >ALL</button>
            </div>
        </div>
        
        <!-- The Header thing containing the main blockchain stats and graphs -->
        <section class="currency-stats">

            <!-- SUPPLY -->
            <div class='stat-panel'>
                <!-- Statistic Text Box -->
                <div class="stat-card">
                    <h2>...<b id='stats-supply'>{{STATS['supply']}}</b> currency things in the wild</h2>
                </div>

                <!-- Expanded Graph -->
                <div class="graph-container">
                    <img src="/static/graphs/supply.svg" alt="line_chart.svg" class="graph">
                </div>
            </div>

            <!-- MINIG -->
            <div class='stat-panel'>
                <div class="stat-card blue">
                    <h2>...<b id='stats-mined'>{{STATS['mined']}}</b> currency things mined <span>in the last 24h</span></h2>
                </div>
                <div class="graph-container">
                    <img src="/static/graphs/mined.svg" alt="line_chart.svg" class="graph">
                </div>
            </div>

            <!-- TOTAL TRADES -->
            <div class='stat-panel'>
                <div class="stat-card purple">
                    <h2>...<b id='stats-trades'>{{STATS['trades']}}</b> trades <span>in the last 24h</span></h2>
                </div>
                <div class="graph-container">
                    <img src="/static/graphs/trades.svg" alt="line_chart.svg" class="graph">
                </div>
            </div>

            <!-- USER TRADES -->
            <div class='stat-panel'>
                <div class="stat-card yellow">
                    <h2>...<b id='stats-user_trades'>{{STATS['user_trades']}}</b> user trades <span>in the last 24h</span></h2>
                </div>
                <div class="graph-container">
                    <img src="/static/graphs/user_trades.svg" alt="line_chart.svg" class="graph">
                </div>
            </div>

            <!-- UNIQUE USERS % WEALTH DISTRIBUTION--> 
            <div class="stat-panel">
                <div class="stat-card green">
                    <h2>...<b id='stats-user_num'>{{STATS['user_num']}}</b> people holding</h2>
                </div>
                <div class="graph-container">
                    <canvas id='chartjs' class="graph" height="350" width="350" style="margin-bottom: 5%;"></canvas>
                </div>

            </div>
            
            <!-- BIGGEST TRADE EVER MADE -->
            <div class="stat-panel">
                <div class="stat-card">
                    <h2>...<b id='stats-biggest'>{{STATS['biggest']}}</b> currency things was the biggest trade <span>in the last 24h</span></h2>
                </div>
                <div class="graph-container">
                    <img src="/static/graphs/big_trades.svg" alt="line_chart.svg" class="graph">
                    <!-- <canvas id='big-trade-chart' class="graph" height="400" width="500" style="margin-bottom: 5%;"></canvas> -->
                </div>
            </div>
        </section>

        <hr>
        <br>

        <div class="table-container">
            {{TABLE}}
        </div>

        <div class="buttons-container">
            <div class="buttons">
                <button class="button" id='frst-page'> ⏮ </button>
                <button class="button" id='prev-page'>⏴</button>
                <p class="page-number"><a href="#top">top</a></p>
                <button class="button" id="next-page">⏵</button>
                <button class="button" id='last-page'> ⏭ </button>
            </div>
        </div>
        <div id="bottom"></div>

        <br><br><br>

    </section>
    
    <!-- SCROLL BUTTONS -->
    <section title="right-margin" class="anchor-buttons">
        <a href="#top"      id="scroll-up"  ><img src="/static/images/up_arrow_2.png"   height="64px" class="pixel-art"></a>
        <a href="#bottom"   id='scroll-down'><img src="/static/images/down_arrow_2.png" height="64px" class="pixel-art"></a>
    </section>

    <!-- SOUND EFFECTS -->
    <!-- Click1 -->
    <audio id="sfx_click1" preload="auto">
        <source src="/static/sfx/click1.ogg">
    </audio>
    <!-- Click2 -->
    <audio id="sfx_click2" preload="auto">
        <source src="/static/sfx/click2.ogg">
    </audio>
    <!-- Scroll Down -->
    <audio id="sfx_scroll_down" preload="auto">
        <source src="/static/sfx/filesspill1.mp3">
    </audio>
    <!-- Scroll Up -->
    <audio id="sfx_scroll_up" preload="auto">
        <source src="/static/sfx/filesspill2.mp3">
    </audio>
    <!-- Open Window -->
    <audio id="sfx_open" preload="auto">
        <source src="/static/sfx/openwindow.ogg">
    </audio>
    <!-- Close Window -->
    <audio id="sfx_close" preload="auto">
        <source src="/static/sfx/close.ogg">
    </audio>


    <!-- GRAPHS -->
    <script>
        //// TOGGLING all graphs & RENDERING chart.js graphs

        /// PART I - Toggling All graphs ////////////////////////////////////
        // Hidding all graphs by default
        $('.graph').hide();

        // Showing and hiding graphs when you click their corresponding panel
        $('.stat-panel').click(function() {
            $(this).find('.graph').toggle(500);
        })


        /// PART II - Rendering Chart.JS graphs /////////////////////////////

        // Chart.defaults.plugins.legend.display = false;

        // USER PIE CHART
        var chart_canvas = $('#chartjs')[0].getContext('2d')
        var chart =  new Chart(chart_canvas, {
            type:       'pie',
            data:       {
                labels:     {{ LABELS | safe}},
                datasets:   [{
                    label: 'Population',
                    data:   {{ VALUES | safe}},

                    backgroundColor: ['#e23742', '#63a6db', '#c4178a', '#ffcd36', '#5dc2a5'],
                    hoverBorderWidth: 2,
                    hoverBorderColor: 'black',
                    hoverOffset: 20,
                }]
            },
            options:    {
                plugins: {
                    legend: { display: false},
                    title:  { display: true, text: 'Hodlers', color: 'white', font: {size: 32, family: 'Comic Sans MS'}}
                },
                responsive : false
            }
        })

        // BIG TRADE LINE CHART
        // Chart.defaults.global.defaultFontColor = '#fff';
        Chart.defaults.color = 'white';
        
        var chart_canvas = $('#big-trade-chart')[0].getContext('2d')
        var chart = new Chart(chart_canvas, {
            type:       'line',
            data:        {
                labels:     {{ LABELS_2 | safe}},
                datasets:   [{
                    label:  "This is the label",
                    data:   {{ VALUES_2 | safe}},
                    fill: true,
                    borderColor: '#ff048c',
                    backgroundColor: '#ff048c',
                    tension: 0.1,
                    pointRadius: 5,
                    pointHitRadius: 20,
                    tension: 0.5
                }]
            },
            options:    {
                responsive : false,
                scaleFontColor: "green",
                plugins: {
                    legend: { display: false},
                    title:  { display: true, text: 'Biggest Trade Over Time', color: 'white', font: {size: 32, family: 'Comic Sans MS'}}
                },
                scales: {
                    x: {
                        grid: {
                            display: false,
                            drawBorder: true,
                            color: 'white',
                            zeroLineColor: "red",
                            drawTicks: true,
                            tickWidth: 2
                        },
                        ticks: {
                            stepSize:100,
                        }
                    },
                    y: {
                        grid: {
                            display: true,
                            drawBorder: true,
                            color: '#888',
                            zeroLineColor: "red",
                            drawTicks: true,
                            tickWidth: 1
                        },
                        ticks: {
                            color: 'white',
                            stepSize:100,
                        }
                    }
                }
            }
        });

    </script>

    <!-- BUTTONS -->
    <script src="/static/js/buttons.js"></script>

    <!-- SOUND EFFECTS -->
    <script>
        var click_1SFX      = $("#sfx_click1")[0];
        var click_2SFX      = $("#sfx_click2")[0];
        var clicks = [click_1SFX, click_2SFX]

        var scroll_downSFX  = $("#sfx_scroll_down")[0];
        var scroll_upSFX    = $("#sfx_scroll_up")[0];

        var open_window     = $("#sfx_open")[0];
        var close_window    = $("#sfx_close")[0];

        var click_count = 0;
        $(document).click(function() {
            click_count++;
            var i = click_count % 2;
            clicks[i].play();
            console.log("PLAY SFX");
        });

        $("#scroll-down").click(function() {
            scroll_downSFX.play()
        })
        $("#scroll-up").click(function() {
            scroll_upSFX.play()
        })

        $(".stat-panel").click(function() {
            $("#sfx_open")[0].play()
            // open_window.play()
        })
    </script>

    <!-- ACHIEVEMENTS -->
    <script src="/static/js/achievements.js"></script>
    
</body>
</html>