<!-- https://stackoverflow.com/questions/48552343/how-can-i-execute-a-python-script-from-an-html-button/48552490 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link embed stuff! BIG WOW IT WORKS!!! -->
    <meta property="og:site_name"   content="currencything.com">                        <!-- Top of the embed -->
    <meta property="og:title"       content="Currency Thing Blockchain Explorer">       <!-- Big Bold Letters -->
    <meta property="og:description" content="What is this, some kinda currency thing? 🤡"><!-- Subtitle, smaller, under title -->
    <meta property="og:image"       content="https://i.imgur.com/o1iOHhl.png">          <!-- Cool lil thumbnail to the side! :) -->
    <meta property="og:url"         content="http://www.currencything.com">             <!-- Link when you click on the title -->
    <meta name="theme-color"        content="#E52B50">                                  <!-- Embed sidebar colour! -->
    <meta name="twitter:card"       content="summary_large_image">                      <!-- BIG image -->

    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaskstyle.css') }}">

    <!-- Tab Icon : https://realfavicongenerator.net/ -->
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="icon" type="image/png" href="/static/favicon.png">

    <!-- jQuery for clicking stuff -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- ChartJS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>

    <!-- Tab Title -->
    <title>Currency Thing Blockchain Explorer</title>
</head>

<body class="page-layout">
    <section title="left-margin"></section>

    <!-- MAIN SECTION -->
    <section>
        <div id="top"></div>
        <img src="/static/images/avatars/840976021687762955.png" class="logo" title="what is this, some kinda currency thing?">
        <h1>currency thing blockchain explorer</h1>

        <!-- TIME FILTER BUTTONS -->
        <div class="buttons-container">
            <div class="buttons">
                <button class="button selected" id='daily'  >1D</button>
                <button class="button"          id='weekly' >7D</button>
                <button class="button"          id="monthly">31D</button>
                <button class="button"          id='all'    >ALL</button>
            </div>
        </div>
        
        <!-- The Header thing containing the main blockchain stats and graphs -->
        <section class="currency-stats">

            <!-- SUPPLY -->
            <div class='stat-panel'>
                <!-- Statistic Text Box -->
                <div class="stat-card">
                    <h2>...<b id='stats-supply'>{{STATS['supply']}}</b> currency things in the wild</h2>
                </div>

                <!-- Expanded Graph -->
                <div class="graph-container">
                    <img src="/static/graphs/supply.svg" alt="line_chart.svg" class="graph">
                </div>
            </div>

            <!-- MINIG -->
            <div class='stat-panel'>
                <div class="stat-card blue">
                    <h2>...<b id='stats-mined'>{{STATS['mined']}}</b> currency things mined <span>in the last 24h</span></h2>
                </div>
                <div class="graph-container">
                    <img src="/static/graphs/mined.svg" alt="line_chart.svg" class="graph">
                </div>
            </div>

            <!-- TOTAL TRADES -->
            <div class='stat-panel'>
                <div class="stat-card purple">
                    <h2>...<b id='stats-trades'>{{STATS['trades']}}</b> trades <span>in the last 24h</span></h2>
                </div>
                <div class="graph-container">
                    <img src="/static/graphs/trades.svg" alt="line_chart.svg" class="graph">
                </div>
            </div>

            <!-- USER TRADES -->
            <div class='stat-panel'>
                <div class="stat-card yellow">
                    <h2>...<b id='stats-user_trades'>{{STATS['user_trades']}}</b> user trades <span>in the last 24h</span></h2>
                </div>
                <div class="graph-container">
                    <img src="/static/graphs/user_trades.svg" alt="line_chart.svg" class="graph">
                </div>
            </div>

            <!-- UNIQUE USERS % WEALTH DISTRIBUTION--> 
            <div class="stat-panel">
                <div class="stat-card green">
                    <h2>...<b id='stats-user_num'>{{STATS['user_num']}}</b> people holding</h2>
                </div>
                <div class="graph-container">
                    <canvas id='chartjs' class="graph" height="350" width="350" style="margin-bottom: 5%;"></canvas>
                </div>

            </div>
            
            <!-- BIGGEST TRADE EVER MADE -->
            <div class="stat-panel">
                <div class="stat-card">
                    <h2>...<b id='stats-biggest'>{{STATS['biggest']}}</b> currency things was the biggest trade <span>in the last 24h</span></h2>
                </div>
                <div class="graph-container">
                    <img src="/static/graphs/big_trades.svg" alt="line_chart.svg" class="graph">
                    <!-- <canvas id='big-trade-chart' class="graph" height="400" width="500" style="margin-bottom: 5%;"></canvas> -->
                </div>
            </div>
        </section>

        <hr>
        <br>

        <div class="table-container">
            {{TABLE}}
        </div>

        <div id="bottom"></div>

        <br><br><br>

    </section>
    
    <!-- SCROLL BUTTONS -->
    <section class="anchor-buttons">
        <!-- <a href="#top"      id="scroll-up"  ><img src="/static/images/up_arrow_2.png"   height="64px" class="pixel-art"></a> -->
        <!-- <a href="#bottom"   id='scroll-down'><img src="/static/images/down_arrow_2.png" height="64px" class="pixel-art"></a> -->
        <img src="/static/images/up_arrow_2.png" height="64px" class="pixel-art clickable" id="scroll-up">
        <img src="/static/images/down_arrow_2.png" height="64px" class="pixel-art clickable" id="scroll-down">
    </section>


    <!-- GRAPHS -->
    <script>
        //// TOGGLING all graphs & RENDERING chart.js graphs

        /// PART I - Toggling All graphs ////////////////////////////////////
        // Hidding all graphs by default
        $('.graph').hide();

        // Showing and hiding graphs when you click their corresponding panel
        $('.stat-panel').click(function() {
            $(this).find('.graph').toggle(500);
        })


        /// PART II - Rendering Chart.JS graphs /////////////////////////////

        // Chart.defaults.plugins.legend.display = false;

        // USER PIE CHART
        var chart_canvas = $('#chartjs')[0].getContext('2d')
        var chart =  new Chart(chart_canvas, {
            type:       'pie',
            data:       {
                labels:     {{ LABELS | safe}},
                datasets:   [{
                    label: 'Population',
                    data:   {{ VALUES | safe}},

                    backgroundColor: ['#e23742', '#63a6db', '#c4178a', '#ffcd36', '#5dc2a5'],
                    hoverBorderWidth: 2,
                    hoverBorderColor: 'black',
                    hoverOffset: 20,
                }]
            },
            options:    {
                plugins: {
                    legend: { display: false},
                    title:  { display: true, text: 'Hodlers', color: 'white', font: {size: 32, family: 'Comic Sans MS'}}
                },
                responsive : false
            }
        })

    </script>

    <!-- BUTTONS -->
    <script src="/static/js/buttons.js"></script>

    <!-- ACHIEVEMENTS -->
    <script src="/static/js/achievements.js" data-method="flawless"></script>

    <!-- SOUND EFFECTS -->
    <script src="/static/js/play_sfx.js"></script>

    <!-- SCROLLING WITHOUT URL CHANGES -->
    <script src="/static/js/scroll.js"></script>

    
    
</body>
</html>