<!-- https://stackoverflow.com/questions/48552343/how-can-i-execute-a-python-script-from-an-html-button/48552490 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link embed stuff -->
    <meta property="og:site_name"   content="currencything.com">                        <!-- Top of the embed -->
    <meta property="og:title"       content="{{USERNAME}}'s Currency Things">           <!-- Big Bold Letters -->
    <meta property="og:description" content="has {{STATS['balance']}} currency things! 💰"><!-- Subtitle, smaller, under title -->
    <meta property="og:image"       content="http://20.101.142.228:5000/static/images/avatars/{{USER_ID}}.png">          <!-- Cool lil thumbnail to the side! :) -->
    <meta property="og:url"         content="http://www.currencything.com">             <!-- Link when you click on the title -->
    <meta name="theme-color"        content="#E52B50">                                  <!-- Embed sidebar colour! -->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaskstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">

    <!-- Tab Icon : https://realfavicongenerator.net/ -->
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="icon" type="image/png" href="/static/favicon.png">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Tab Title -->
    <title>{{USERNAME}}'s page</title>
</head>
<body>
    <!-- TOP ANCHOR -->
    <div id="top"></div>

    <!-- CURRENCY THING LOGO -->
    <a href="/"><img src="/static/images/avatars/840976021687762955.png" class="logo" title="what is this, some kinda currency thing?"></a>

    <!-- USER PROFILE -->
    <section class="user-profile shadow">
        <div class="avatar-container">
            <img src="/static/images/avatars/{{USER_ID}}.png" class="avatar">
        </div>
        
        <div class="user-info">
            <div class="top-line">
                <h1>{{USERNAME}}</h1>
                <p class="balance">has {{STATS['balance']}} currency things</p>
            </div>

            <!-- USER STATS -->
            <div class="stats">
                <div><h2>...has mined <b>{{STATS['mined']}}</b> things</h2></div>
                <div><h2>...has received <b>{{STATS['received']}}</b> things</h2></div>
                <div><h2>...has sent <b>{{STATS['sent']}}</b> things</h2></div>
                <div><h2>...participated in <b>{{STATS['trades']}}</b> trades</h2></div>
                <div><h2>...biggest gift sent was <b>{{STATS['big_sent']}}</b> things</h2></div>
                <div><h2>...biggest gift received was <b>{{STATS['big_received']}}</b> things</h2></div>
            </div>
        </div>
    </section>

    <p style="color: white; text-align: center;">Welcome to {{USERNAME}}'s currency thing page!</p>

    <!-- USER GRAPHS -->
    <section class="page-layout">

        <!-- LEFT MARGIN -->
        <section id='left-margin'></section>

        <!-- CURRENCY GRAPHS -->
        <section class="currency-stats">
        
            <!-- NETWORTH OVER TIME -->
            <div class='stat-panel'>
                <!-- Statistic Text Box -->
                <div class="stat-card blue">
                    <h2>networth</h2>
                </div>

                <!-- Expanded Graph -->
                <div class="graph-container">
                    <img src="/static/graphs/networth.svg" alt="line_chart.svg" class="graph">
                </div>
            </div>

            <!-- TRADES OVER TIME -->
            <div class='stat-panel'>
                <div class="stat-card purple">
                    <h2>trades</h2>
                </div>
                <div class="graph-container">
                    <img src="/static/graphs/tx.svg" alt="line_chart.svg" class="graph">
                </div>
            </div>

        </section>

        <!-- RIGHT MARGIN -->
        <section id='right-margin'></section>
    </section>

    <div class="table-container">
        {{TABLE}}
    </div>

    <!-- SCROLL BUTTONS -->
    <section class="anchor-buttons">
        <!-- <a href="#top"      id="scroll-up"  ><img src="/static/images/up_arrow_2.png"   height="64px" class="pixel-art"></a>
        <a href="#bottom"   id='scroll-down'><img src="/static/images/down_arrow_2.png" height="64px" class="pixel-art"></a> -->
        <img src="/static/images/up_arrow_2.png" height="64px" class="pixel-art clickable" id="scroll-up">
        <img src="/static/images/down_arrow_2.png" height="64px" class="pixel-art clickable" id="scroll-down">
    </section>

    <!-- BOTTOM ANCHOR -->
    <div id="bottom"></div>


    <br><br><br>

    <script src="/static/js/graph_toggle.js"></script>
    <script src="/static/js/play_sfx.js"></script>
    <script src="/static/js/scroll.js"></script>
    
</body>
</html>