<!-- https://stackoverflow.com/questions/48552343/how-can-i-execute-a-python-script-from-an-html-button/48552490 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaskstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">

    <title>{{USERNAME}}'s' page</title>
</head>
<body>
    <section title="left-margin"></section>

    <section title="content">
    <img src="/static/images/avatars/840976021687762955.png" class="logo" title="what is this, some kinda currency thing?">
    <section class="user-profile shadow">
        <div class="avatar-container">
            <img src="/static/images/avatars/{{USER_ID}}.png" class="avatar">
        </div>
        
        <div class="user-info">
            <div class="top-line">
                <h1>{{USERNAME}}</h1>
                <p class="balance">has {{STATS['balance']}} currency things</p>
            </div>

            <div class="stats">
                <div>
                    <h2>...has mined <b>{{STATS['mined']}}</b> things</h2>
                    <h2>...has received <b>{{STATS['received']}}</b> things</h2>
                    <h2>...has sent <b>{{STATS['sent']}}</b> things</h2>
                </div>

                <div>
                    <h2>...participated in <b>{{STATS['trades']}}</b> trades</h2>
                    <h2>...biggest gift sent was <b>{{STATS['big_sent']}}</b> things</h2>
                    <h2>...biggest gift received was <b>{{STATS['big_received']}}</b> things</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="graph-grid">
        <img src="/static/graphs/networth.svg" class="graph-container shadow">
    <div>

    <div style="display: grid; place-items: center;">
        <p style="color: white;">Welcome to {{USERNAME}}'s currency thing page!</p>
        <br><br>
        {{TABLE}}
    </div>


    <br><br><br>
    </section>

    <section title="right-margin"></section>
    
</body>
</html>